<div class="container">
  <h1>Edit blog</h1>
  <%= simple_form_for @blog do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit "Submit", class: "btn btn-default btn-sm" %>
  <% end %>
</div>
